@import "material-design-icons.less";
#app {
    background-color: #eee;
    visibility: hidden;
}

.mdl-layout__content {
    padding-left: 10px;
}

.mdl-textfield.footerTextInput {
    padding: 0px;
}


/*
.mdl-mini-footer {
    padding: 0px;
    padding-bottom:  80px;
    background-color: rgba(0, 0, 0, 0.12);
    color: black;
    textarea{
        padding-bottom: 28px;
        width: 60%;
        left:0;
        height: 100%;
    }
    button{
        padding-top: 28px;
        padding-bottom: 20px;
    }
}
*/

#snackbar {
    right: 0;
    z-index: 999;
}

#loading {
    &.aa {
        font-family: "ＭＳ Ｐゴシック", "MS PGothic", "Mona", "mona-gothic-jisx0208.1990-0", sans-serif;
        overflow: auto;
        line-height: 1.125em;
        text-align: left;
        margin-left: 0;
        font-size: 18px;
        margin-right: auto;
    }
}

.cursor--hand {
    cursor: pointer;
}

.mdl-textfield {
    width: 300px;
}

.mdl-dialog {
    width: 580px;
}

.mdl-textfield--dummyText {
    width: 580px;
}

.mdl-textfield--url {
    width: 500px;
}

.fixed-menubar__right {
    position: fixed;
    display: block;
    right: 0;
    top: 80px;
    width: 6em;
    margin-right: 20px;
    z-index: 900;
}

.fixed-commentbar {
    position: fixed;
    display: block;
    left: 0;
    bottom: 10px;
    width: 300px;
    height:80px;
    margin-left: 10px;
    z-index: 800;
    padding: 10px;
    background-color: floralwhite;
    .toolbar {
        display: inline-block;
        input,
        button,
        label {
            width: 20%;
            margin: 5px;
        }
    }
    textarea {
        width: 100%;
    }
}

.viewer__showThread {
    .commentbar--margin {
        margin-bottom: 120px;
    }
    .aa {
        font-family: "ＭＳ Ｐゴシック", "MS PGothic", "Mona", "mona-gothic-jisx0208.1990-0", sans-serif;
        font-size: 16px;
        line-height: 18px;
        text-align: left;
        margin-left: 0;
        margin-right: auto;
        color: rgb(20, 20, 20);
    }
    .num {
        &--new {
            font-weight: bolder;
            text-decoration: underline;
        }
    }
    .mail--icon {
        width: 16px;
        height: 16px;
    }
}


.mdl-button--default {
    cursor: default;
}