@import "material-design-icons.less";
#app {
    background-color: #eee;
}

.viewer__showThread .aa {
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", "Mona", "mona-gothic-jisx0208.1990-0", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

.settings__url--error {
    color: red;
}