<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Loading....</title>
    <script src="../js/app.bundle.js"></script>
    <!-- build:remove -->
    <!-- Connect to server process -->
    <script>
        require('electron-connect').client.create()
    </script>
    <!-- endbuild -->
</head>

<body>
    <div id="app">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
            <!-- header -->
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--url">
                        <input type="text" v-on:keyup.enter="requestOnce(false)" class="mdl-textfield__input" v-model="url" id="url" />
                        <label class="mdl-textfield__label" for="url">URL.....</label>
                    </div>
                    <!--<div class="mdl-layout-spacer"></div>-->
                </div>
            </header>
            <!-- header -->
            <div class="mdl-layout__drawer">
                <!-- setting -->
                <span v-on:click="flipServerMode()" class="mdl-layout-title">設定</span>
                <nav class="mdl-navigation">
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">refresh</i> リロード：{{reload}}</label>
                        <input class="mdl-slider mdl-js-slider" type="range" max="60" min="10" v-model="reload" v-bind:disabled="processing" />
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">record_voice_over</i> 読み上げ</label>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="reading">
                            <input type="checkbox" id="reading" class="mdl-switch__input"  v-model="pManager.reading">
                            <span class="mdl-switch__label">{{pManager.reading?"on":"off"}}</span>
                    </label>
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">timer</i> 表示時間制限：{{provideTimeLimit}}</label>
                        <input class="mdl-slider mdl-js-slider" type="range" max="60" min="10" v-model="provideTimeLimit" v-bind:disabled="processing" />
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">mic</i> 読み上げボイス</label><br>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button"  v-model="pManager.voice"  v-bind:value="1" v-bind:disabled="processing">
                            <span class="mdl-radio__label">WSA</span>
                    </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button"  v-model="pManager.voice"  v-bind:value="2" v-bind:disabled="processing">
                            <span class="mdl-radio__label">SofTalk</span>
                        </label>
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                            <input type="radio" id="option-3" class="mdl-radio__button"  v-model="pManager.voice"  v-bind:value="3" v-bind:disabled="processing">
                            <span class="mdl-radio__label">民安talk</span>
                        </label>
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">find_in_page</i> softalk/vrxのパス</label>                        
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input"  v-on:click="findSofTalkPathDialog()" id="path" autocomplete="off" v-model="path" v-bind:disabled="processing">
                        </div>
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">record_voice_over</i> 音量・速度・音程を使用</label>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="useParam">
                            <input type="checkbox" id="useParam" class="mdl-switch__input"  v-model="pManager.vParam.use">
                            <span class="mdl-switch__label">{{pManager.vParam.use?"on":"off"}}</span>
                    </label>
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">volume_down</i> 音量：{{pManager.vParam.volume}}</label>
                        <input class="mdl-slider mdl-js-slider" type="range" max="100" min="0" v-model="pManager.vParam.volume" v-bind:disabled="!pManager.vParam.use" />
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">directions_run</i> 速度：{{pManager.vParam.rate}}</label>
                        <input class="mdl-slider mdl-js-slider" type="range" max="100" min="0" v-model="pManager.vParam.rate" v-bind:disabled="!pManager.vParam.use" />
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">slow_motion_video</i> 音程：{{pManager.vParam.pitch}}</label>
                        <input class="mdl-slider mdl-js-slider" type="range" max="100" min="0" v-model="pManager.vParam.pitch" v-bind:disabled="!pManager.vParam.use" />
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">audiotrack</i> 着信音</label>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="playNotificationSound">
                            <input type="checkbox" id="playNotificationSound" class="mdl-switch__input"  v-model="playingNotificationSound">
                            <span class="mdl-switch__label">{{playingNotificationSound?"on":"off"}}</span>
                    </label>
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i class="material-icons">record_voice_over</i> 読み上げテスト</label>                        
                        <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" id="m" autocomplete="off" v-model="testMessage"></textarea>
                        <button v-on:click="test('テスト：',testMessage)" v-bind:disabled="processing">send</button>
                        </div>
                    </span>
                    <span class="mdl-navigation__link">
                        <label><i v-on:click="clearDataSource()" class="material-icons cursor--hand">info</i> version:{{version}}</label>                  
                    </span>
                </nav>
            </div>
            <!-- setting -->
            <!-- display -->
            <main class="mdl-layout__content" v-bind:style="CSS.body">
                <div class="viewer__showThread">
                    <div v-show="!showListView" v-bind:class="{'commentbar--margin':showCommentView}">
                        <dl v-for="item in thread.messages" v-bind:style="CSS.res">
                            <dt class="message__header" v-bind:style="CSS.header" :id="'MESSAGE-'+item.num" :key="item.num"><span v-bind:class="[item.latest ? 'num--new':'']" v-bind:style="CSS.num">{{item.num}}</span>:
                                <span v-html="item.name" v-bind:style="CSS.name"></span>
                                <span v-bind:style="CSS.mail">
                                        <img v-bind:src="item.mail" class="mail--icon" v-if="isMailImg(item.mail)">
                                        <span v-else>[{{item.mail}}]</span>
                                </span>
                                <span v-bind:style="CSS.date">{{item.date}}</span> <span v-bind:style="CSS.id" v-show="item.id">ID:{{item.id}}</span></dt>
                            <dd v-html="replace(item.text)" v-bind:style="CSS.message" class="aa" :key="item.num"></dd>
                        </dl>
                    </div>
                    <div v-show="showListView">
                        <div v-for="item in thread.threadLists">
                            <a v-bind:href="item.url" class="aa" v-on:click.prevent="setUrlFromShowList(item.url)">{{item.title}}</a>
                        </div>
                    </div>
                </div>
            </main>
            <!-- display -->
        </div>
        <!-- fixed right menu -->
        <div class="fixed-menubar__right">
            <button id="open" v-bind:disabled="!validUrl" v-on:click="openLink()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                <i class="material-icons">open_in_browser</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="open">
                外部ブラウザで開く
            </div>
            <button id="bookmark" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-button--default">
                {{thread.bookmark}}
                </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="bookmark">
                表示中の番号
            </div>
            <button v-on:click="start()" id="start" v-bind:disabled="!validUrl" v-show="!processing" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                <i class="material-icons">play_arrow</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="start">
                読み込み開始
            </div>
            <button v-on:click="stop()" id="stop" v-show="processing" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                 <i class="material-icons">stop</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="stop">
                停止
            </div>
            <button v-on:click="latest()" v-bind:disabled="!validUrl" id="latest" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                  <i class="material-icons">last_page</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="latest">
                最新まで移動
            </div>
            <button v-on:click="flipAutoScroll()" id="autoScrollOn" v-show="!autoScroll" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                  <i class="material-icons">arrow_drop_down</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="autoScrollOn">
                オートスクロールON
            </div>
            <button v-on:click="flipAutoScroll()" id="autoScrollOff" v-show="autoScroll" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                  <i class="material-icons">arrow_drop_down_circle</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="autoScrollOff">
                オートスクロールOFF
            </div>
            <button class="mdl-button mdl-js-button" disabled>
                         
            </button>
            <button v-on:click="showDummyTextWindow()" id="dummyTextButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                 <i class="material-icons">message</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="dummyTextButton">
                字幕用テキストを設定
            </div>
            <button v-on:click="flipShowListMode()" id="showList" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                 <i v-show="!showListView" class="material-icons">view_list</i>
                 <i v-show="showListView"  class="material-icons">arrow_back</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="showList">
                {{showListView?"戻る":"一覧"}}
            </div>
            <button v-on:click="flipCommentMode()" id="commentButton" v-bind:disabled="validThreadControlls" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
                 <i v-show="!showCommentView" class="material-icons">send</i>
                 <i v-show="showCommentView"  class="material-icons">close</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--larg" data-mdl-for="commentButton">
                {{showCommentView?"閉じる":"コメントフォーム表示"}}
            </div>
        </div>
        <!-- fixed right menu -->
        <!-- fiexed comment bar -->
        <div v-show="showCommentView&&!showListView">
            <div class="fixed-commentbar">
                <textarea v-on:keydown.shift.enter.prevent="sendMessage()" id="post" autocomplete="off" rows="3" v-model="comment.MESSAGE"></textarea>
                <div class="toolbar">
                    <label>名前:</label><input type="text" value="name" v-model="comment.NAME"><label>mail:</label><input type="text" v-model="comment.MAIL"><button v-on:click="sendMessage()" v-bind:disabled="!validUrl">送信</button>
                </div>
            </div>
        </div>
        <!-- fiexed comment bar -->
        <!-- fiexed status bar -->
        <div class="fixed-statusbar">
            <span>{{formattedTimes}} - <b>{{thread.title}}@{{thread.parentTitle}}</b></span>
        </div>
        <!-- fiexed status bar -->
        <!-- snack bar -->
        <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <!-- snack bar -->
        <!-- dummytext dialog -->
        <dialog class="mdl-dialog" id="subtitling">
            <div class="mdl-dialog__content">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--dummyText">
                    <textarea v-model="dummyTextTemp" class="mdl-textfield__input" type="text" rows="10" id="dummyText"></textarea>
                    <label class="mdl-textfield__label" for="dummyText">字幕用テキスト</label>
                </div>
                <label class="mdl-textfield__label" for="dummyText"></label>
            </div>
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <button type="button" v-on:click="insertDummyText" class="mdl-button">表示する</button>
                <button type="button" class="mdl-button close">閉じる</button>
            </div>
        </dialog>
        <!-- dummytext dialog -->
    </div>
    <!--<div id="loading" class="aa"><br/> 　　　　　　 ／ﾌﾌ 　　　　　　 　ム｀ヽ<br/> 　　　　　　/ ノ)　 ∧＿∧　　　　）　ヽ<br/> 　　　　　ﾞ/ ｜　　(´・ω・`）ノ⌒（ゝ._,ノ Now loading....<br/> 　　　　　/　ﾉ⌒7⌒ヽーく　 ＼　／<br/> 　　　　　丶＿ ノ ｡　　 ノ､　　｡|/<br/> 　　　　　　　 `ヽ `ー-'_人`ーﾉ　<br/> 　　　　　　　　 丶 ￣ _人'彡ﾉ<br/> 　　　　　　　　　ﾉ　　r'十ヽ/
        <br/> 　　　　　　　／｀ヽ _/　十∨<br/>
    </div>-->
</body>

</html>