/*
#app {
    background-color: #eee;
    white-space: pre;
    word-wrap: break-word;
}
*/

.message {
    /*background-color: #eee;*/
    font-family: "メイリオ", Meiryo;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 4vw;
}

.aa {
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", "Mona", "mona-gothic-jisx0208.1990-0", sans-serif;
    overflow: auto;
    line-height: 1.125em;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    /*font-size: 1vw;*/
}